# auxiliary files
.DS_Store
.vscode
.ipynb_checkpoints
__pycache__
tempCodeRunnerFile.py

# data files
logs/*
samples/*
data/*
results/*

# playground scripts
keras/training-keras.ipynb
tensorflow/testing.ipynb
inputs.py
train_disc.py
build_np.py
playground.ipynb
gan_example.py
zebra_horse.ipynb

# latex paper
report/*

# latex presentation slides
presentation/*

# other
architecture.pages

