.vscode
.ipynb_checkpoints
__pycache__
data/*
results/*
playground.ipynb
gan_example.py
.DS_Store
tempCodeRunnerFile.py
zebra_horse.ipynb
logs/*
samples/*
inputs.py
train_disc.py
build_np.py
report/*
architecture.pages
keras/training-keras.ipynb
tensorflow/testing.ipynb
